In [ ]:
import os
import nltk
from nltk.corpus import stopwords
import pandas as pd
import random as rd
import numpy as np

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
file_path = "/content/drive/MyDrive/Colab Notebooks/ML course - unik/texts"

def read_file(file):
  f = open(file_path+"/"+file, "r", encoding='utf-8')
  text = f.read()
  f.close()
  return text

In [ ]:
words_by_texts = []

for file in os.listdir(file_path):
  if file.endswith(".txt"):
    text = read_file(file)
    # print(file)
    words_by_texts.append(text.split())

print("amount of texts:",len(words_by_texts))

amount of texts: 10

In [ ]:
unique_words = set()

for text in words_by_texts:
  unique_words.update(set(text))

print("number of unique words:",len(unique_words))

number of unique words: 1018

In [ ]:
def cleaning(words):
  stop_words = set(stopwords.words('english'))
  res = set()
  for word in words:
    if word.isalpha():
      lowercase = word.lower()
      if lowercase not in stop_words:
        res.add(lowercase)

  return res

all_words = cleaning(unique_words)
# print(all_words)
print("amount of all cleanining, unique words:",len(all_words))

amount of all cleanining, unique words: 570

In [ ]:
def norm_each_word(word):
  stop_words = set(stopwords.words('english'))
  if word.isalpha():
    lowercase = word.lower()
    if lowercase not in stop_words:
      return lowercase

In [ ]:
bug_of_words = []
len_of_clean_texts = []


for text in words_by_texts:
  bug_dict = dict.fromkeys(all_words, 0)
  clean_text = cleaning(set(text))
  len_of_clean_texts.append(len(clean_text))
  for word in text:
    key = norm_each_word(word)
    if key in clean_text:
      bug_dict[key]+=1
  bug_of_words.append(bug_dict)


# print(bug_of_words[0])
df = pd.DataFrame(bug_of_words)
df

,skeletal,spanning,comprises,widespread,examples,helped,live,upstream,sometimes,back,...,number,including,bank,campaign,circles,avoids,abandoned,core,counties,quickly
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,0,1
2,1,0,0,1,0,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
4,0,2,0,0,0,0,0,1,0,0,...,0,0,0,1,0,0,1,0,0,0
5,0,0,1,0,0,0,0,0,1,0,...,2,0,0,0,0,0,0,1,1,0
6,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,...,2,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [ ]:
def tf_compute(wordDict, len_of_clean_texts):
  tfDict = {}
  for word, count in wordDict.items():
    tfDict[word] = count / float(len_of_clean_texts)
  return tfDict

tf = []
i = 0
for bugs in bug_of_words:
  tf.append(tf_compute(bugs,len_of_clean_texts[i]))
  i+=1

# print(length_of_clean_texts)

df = pd.DataFrame(tf)
df

,skeletal,spanning,comprises,widespread,examples,helped,live,upstream,sometimes,back,...,number,including,bank,campaign,circles,avoids,abandoned,core,counties,quickly
0,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.014286,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.012658,0.000000,0.000000,0.000000,...,0.000000,0.012658,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.012658
2,0.010989,0.000000,0.000000,0.010989,0.00,0.010989,0.010989,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.010101,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.025316,0.000000,0.000000,0.00,0.000000,0.000000,0.012658,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.012658,0.00000,0.000000,0.012658,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.011236,0.000000,0.00,0.000000,0.000000,0.000000,0.011236,0.000000,...,0.022472,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.011236,0.011236,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.02,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.024691,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.027778,...,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.00,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.02381,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
def idf_compute(documents):
  import math
  N = len(documents)
  print(N)
  
  idfDict = dict.fromkeys(documents[0].keys(), 0)

  # in how many documents each word appears
  for document in documents: 
    for word, val in document.items():
      if val > 0:
        idfDict[word] += 1

  for word, val in idfDict.items():
    idfDict[word] = math.log(N / float(val))
    
  return idfDict

idf = idf_compute(bug_of_words)
# idf

10

In [ ]:
tfidf = []

def tfidf_compute(tf, idf):
  tf_idf = {}
  for word, val in tf.items():
    tf_idf[word] = val * idf[word]
  return tf_idf

for i in range(0,len(words_by_texts)):
  tfidf.append(tfidf_compute(tf[i],idf))

X = pd.DataFrame(tfidf)
X

# print(tfidf)

,skeletal,spanning,comprises,widespread,examples,helped,live,upstream,sometimes,back,...,number,including,bank,campaign,circles,avoids,abandoned,core,counties,quickly
0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.032894,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.020373,0.000000,0.000000,0.000000,...,0.000000,0.029147,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.029147
2,0.025303,0.000000,0.000000,0.025303,0.000000,0.025303,0.017686,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.023258,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.058293,0.000000,0.000000,0.000000,0.000000,0.000000,0.029147,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.029147,0.000000,0.000000,0.029147,0.000000,0.000000,0.000000
5,0.000000,0.000000,0.025872,0.000000,0.000000,0.000000,0.000000,0.000000,0.025872,0.000000,...,0.036167,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.025872,0.025872,0.000000
6,0.000000,0.000000,0.000000,0.000000,0.046052,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
7,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.039739,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
8,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.063961,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
9,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.054823,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
# m = X.shape[0]
# n = X.shape[1]
# print(m,n)

In [ ]:
def random_centroids(data, k):
  centroids = []
  for i in range(k):
    centroid = data.apply(lambda x: float(x.sample()))
    centroids.append(centroid)
  return pd.concat(centroids, axis=1)

In [ ]:
centroids = random_centroids(X, 3)
centroids

                   0    1         2
skeletal    0.000000  0.0  0.000000
spanning    0.000000  0.0  0.000000
comprises   0.000000  0.0  0.000000
widespread  0.000000  0.0  0.000000
examples    0.000000  0.0  0.000000
...              ...  ...       ...
avoids      0.000000  0.0  0.000000
abandoned   0.000000  0.0  0.000000
core        0.025872  0.0  0.000000
counties    0.000000  0.0  0.000000
quickly     0.029147  0.0  0.029147

[570 rows x 3 columns]

In [ ]:
def get_labels(data, centroids):
  distances = centroids.apply(lambda x: np.sqrt(((data - x) ** 2).sum(axis=1)))
  # print("Euclidian distances of each document to each centroid: \n",distances)
  return distances.idxmin(axis=1)

In [ ]:
labels = get_labels(X, centroids)
print("\nClusters that have minimal distance:")
labels

Clusters that have minimal distance:

0    2
1    1
2    2
3    2
4    2
5    2
6    2
7    2
8    2
9    0
dtype: int64

In [ ]:
labels.value_counts()

2    8
1    1
0    1
dtype: int64

In [ ]:
def new_centroids(data, labels, k):
  centroids = data.groupby(labels).apply(lambda x: np.exp(np.log(x).mean())).T
  return centroids

In [ ]:
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
from IPython.display import clear_output

In [ ]:
def plot_clusters(X, labels, centroids, iteration):
  pca = PCA(n_components=2)
  data_2d = pca.fit_transform(X)
  centroids_2d = pca.transform(centroids.T)
  clear_output(wait=True)
  plt.title(f'Iteration {iteration}')
  plt.scatter(x=data_2d[:,0], y=data_2d[:,1], c=labels)
  plt.scatter(x=centroids_2d[:,0],y=centroids_2d[:,1])
  plt.show()

In [ ]:
max_iterations = 10
k = 3

centroids = random_centroids(X, k)
old_centroids = pd.DataFrame()
iteration = 1

while iteration < max_iterations:
  old_centroids = centroids
  # print(labels.value_counts())
  labels = get_labels(X, centroids)
  centroids = new_centroids(X, labels, k)
  # plot_clusters(X, labels, centroids, iteration)
  iteration += 1

In [ ]:
labels

0    2
1    2
2    2
3    2
4    2
5    2
6    1
7    0
8    0
9    0
dtype: int64

In [ ]:
from sklearn.cluster import KMeans
km = KMeans(n_clusters=3, max_iter=10).fit(X)
km.labels_

array([1, 1, 2, 2, 2, 2, 0, 0, 0, 0], dtype=int32)

In [ ]:
pd.DataFrame(km.cluster_centers_)

,0,1,2,3,4,5,6,7,8,9,...,560,561,562,563,564,565,566,567,568,569
0,0.000000,0.000000,0.000000,0.000000,0.011513,0.000000,0.000000,0.000000,0.000000,0.01599,...,0.009935,0.000000,0.000000,0.000000,0.013706,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.010186,0.000000,0.000000,0.00000,...,0.000000,0.014573,0.000000,0.000000,0.000000,0.016447,0.000000,0.000000,0.000000,0.014573
2,0.006326,0.014573,0.006468,0.006326,0.000000,0.006326,0.004422,0.007287,0.006468,0.00000,...,0.009042,0.000000,0.005815,0.007287,0.000000,0.000000,0.007287,0.006468,0.006468,0.000000